* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --icon-tex-color: #898989;

}
.main {
  display: flex;
  padding: 80px 25px 10px 15px;
}
.aside__left {
  width: 15%;
  padding-left:20px ;
  border-right: 2px solid red;
}
.aside__left li{
  margin-bottom: 12px;
}
.aside__left-icons {
  margin-right: 15px;
}
.aside__left-text {
  color: var(--icon-tex-color);
  line-height: 20px;
}
.aside__left-text-home {
  color: red;
}

/* aside right */
.aside__right {
  width: 85%;
}