.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #454545;
}
.nav__list,
.nav__item-icon-wrapper {
  list-style: none;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item-menu {
  display: flex;
  align-items: center;
  width: 15%;
  min-width: 180px;
  font-weight: 700;
  font-size: 1.2rem;
}
.burger__menu {
  margin-right: 20px;
}
.youtube__logo {
  margin-right: 8px;
}
.nav__item-searchbar {
  position: relative;
  width: 75%;
}
.searchbar__img {
  position: relative;
  left: 54%;
  transform: translateY(-50%);
}
.searchbar__input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 58%;
  font-size: 1rem; 
  color: black;
  padding: 10px 20px;
  outline: none;
  background: #ebebeb;
  mix-blend-mode: normal;
  border: none;
  border-radius: 22px;
}
.nav__item-icon-wrapper {
  width: 15%;
  padding-right: 0;
}
.nav__icon-right {
  display: block;
  height: 20px;
  margin: 5px;
  color: black;
}
.nav__icon-right-video {
  width: 27px;
}
.nav__icon-right-dots {
  width: 21px;
}
.nav__icon-right-notification {
  width: 22px;
}
.nav__icon-right-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media screen and(max-width:768px) {
  .nav__item-searchbar {
    width: 50%;
  }
}
@media screen and (max-width:450px) {
  .nav__item-menu span {
    font-size: 14px;
  }
  .burger__menu, 
  .searchbar__input, 
  .nav__icon-right-video,
   .nav__icon-right-notification,
    .nav__icon-right-dots, .nav__item-searchbar {
    display: none;
  }
  .searchbar__img {
    left: 250px;
    top: -3px;
  }
}