.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #454545;
}
.nav__list,
.nav__item-icon-wrapper {
  list-style: none;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item-menu {
  display: flex;
  align-items: center;
  width: 15%;
  font-weight: 700;
  font-size: 1.2rem;
  border-right: 2px solid red;
}
.burger__menu {
  margin-right: 20px;
}
.youtube__logo {
  margin-right: 8px;
}
.nav__item-searchbar {
  position: relative;
  width: 75%;
  /* left: 50px; */
}
.searchbar__img {
  position: relative;
  /* top: 55%; */
  /* top: 12px; */
  /* right: 42%; */
  /* right: 35px; */
  left: 54%;
  transform: translateY(-50%);
}
.searchbar__input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 58%;
  font-size: 1rem;
  color: black;
  padding: 10px 20px;
  outline: none;
  background: #ebebeb;
  mix-blend-mode: normal;
  /* opacity: 0.3; */
  border: none;
  border-radius: 22px;
}
.nav__item-icon-wrapper {
  width: 15%;
  padding-right: 0;
}
.nav__icon-right {
  display: block;
  height: 20px;
  margin: 5px;
  color: black;
}
.nav__icon-right-video {
  width: 27px;
}
.nav__icon-right-dots {
  width: 21px;
}
.nav__icon-right-notification {
  width: 22px;
}
.nav__icon-right-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
