@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;900&display=swap');
:root {
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
}
#root {
    min-height: 100vh;
}
body {
    position: relative;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.light {
    color: white;
}
.dark {
    color: #000;
}
